.body {
    font-family: Roboto;
    color: #212121;
}

ul {
    list-style: none;

}






/* ------------------------Heder-------------------------------- */
.heder__logo {
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    font-family: Raleway;
}

.heder__logo span {
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.78px;

}

.nav__link {
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
    color: #212121;



}

.nav__link:hover{
    color: #2196F3;
}

.nav__link--contakt {
    color: #757575;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.nav__link--contakt:hover{
    color: #2196F3;

}
/* -----------------------MAIN--------------------------- */

.herow {
    background: #2F303A;

}

.herow__article {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364% ;
    /* 60px*/
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    /* 30px */
    letter-spacing: 0.96px;
    background-color: #2196F3;
    cursor: pointer;
}

.item {
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
}

.item__text {
    color: #757575;
    line-height: 171.429%;
    /* 24px */
    letter-spacing: 0.42px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}


/* ---------------FOOTER---------------------------- */
.footer {
    background: #2F303A;
}

.address {
    color: #FFF;
    line-height: 171.429% ;
    /*24px */
    letter-spacing: 0.42px;
    font-style: normal;


}

.footer__logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.footer__logo span {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px
}

.nav__link--footer {
    color: rgba(255, 255, 255, 0.60);
    line-height: 171.429%;
    /* 24px */
    letter-spacing: 0.42px;
    text-decoration: none;
}
.nav__link--footer:hover {
    color: #2196F3;

}